<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>租片店管理系統</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
			
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-toggleable-lg navbar-light bg-light">
				 
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="navbar-toggler-icon"></span>
				</button> <a class="navbar-brand" href="#">北商DVD管理系統</a>
			</nav>
		</div>
	</div>
	<div class="row">
			<div class="col-md-12">
				<h3 class="text-center text-info">
					請選擇使用功能
				</h3>
			</div>
		</div>
	<div class="row">
		<div class="col-md-6">
			<div class="jumbotron">
				<h2>
					會員管理
				</h2>
				<p>
					功能包含新增會員、修改會員、查詢會員。
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="/cus">enter</a>
				</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="jumbotron">
				<h2>
					影片管理
				</h2>
				<p>
					功能包含影片倉管及借還片作業。
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="/vidMan">enter</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="jumbotron">
				<h2>
					員工管理
				</h2>
				<p>
					用來管理員工事項
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="/emoMan">enter</a>
				</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="jumbotron">
				<h2>
					報表處理
				</h2>
				<p>
					列出年報表管理收支
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="/report">enter</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>