<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>租片店管理系統</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
	
	<div class="row">
		<div class="col-md-12">
		    <nav class="navbar navbar-toggleable-lg navbar-light bg-light">
				 
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="navbar-toggler-icon"></span>
				</button> <a class="navbar-brand" href="/">回首頁</a>
			</nav>
		</div>
	</div>
	<div class="row">
			<div class="col-md-12">
				<h3 class="text-center text-info">
					影片新增
				</h3>
				<form role="form" method="post" action="/vidAdd">
				<div class="form-group">	 
					<label>
						影片編號
					</label>
					<input type="text" class="form-control" name="vidNo"/>
				</div>
				
				<div class="form-group">		 
					<label>
						影片名稱
					</label>
					<input type="text" required class="form-control" name="vidName"/>
				</div>
				
				<div class="form-group">
									
					<label>
					   影片類型
					</label>
					<select type="text" class="form-control" name="vidType">
						<option value="愛情片"> 愛情片</option>
						<option value="動作片"> 動作片</option>
						<option value="科幻片"> 科幻片</option>
						<option value="恐怖片"> 恐怖片</option>
					</select>
				</div>
				
				<div class="form-group">		 
					<label>
						影片地區
					</label>
					<select type="text" class="form-control" name="vidArea">
						<option value="歐美"> 歐美</option>
						<option value="日本"> 日本</option>
						<option value="韓國"> 韓國</option>
						<option value="國片"> 國片</option>
					</select>
				</div>
				
				<div class="form-group">		 
					<label>
						到貨日期
					</label>
					<input type="date" required class="form-control" id="theDate" name="stockDate" />
					<script>
							//----------------------
							//設定初值為今日
							//----------------------
							var date = new Date();
							var day = date.getDate();
							var month = date.getMonth() + 1;
							var year = date.getFullYear();
							if (month < 10) month = "0" + month;
							if (day < 10) day = "0" + day;
							var today = year + "-" + month + "-" + day;       
							document.getElementById("theDate").value = today;
						</script>	
				</div>
							
				
				<button type="submit" class="btn btn-primary">
					新增
				</button>
			</form>
		</div>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>