<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>租片店管理系統</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
			
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-toggleable-lg navbar-light bg-light">
				 
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="navbar-toggler-icon"></span>
				</button> <a class="navbar-brand" href="/">回首頁</a>
			</nav>
		</div>
	</div>
	<div class="row">
			<div class="col-md-12">
				<h3 class="text-center text-info">
					影片倉管
				</h3>
			</div>
		</div>
	<div class="row">
		<div class="col-md-6">
			<div class="jumbotron">
				<h2>
					新增影片
				</h2>
				<p>
					若有購置新的影片，請至此功能新增紀錄。
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="/vidAddForm">enter</a>
				</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="jumbotron">
				<h2>
					修改影片
				</h2>
				<p>
					若有影片資訊需修改，請點此進入。
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="/vidModifySearch">enter</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="jumbotron">
				<h2>
					刪除影片
				</h2>
				<p>
					刪除影片相關資料，如蜘蛛人庫存剩幾片、查此影片被借閱紀錄等等。
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="/vidDeleteSearch">enter</a>
				</p>
			</div>
		</div>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>